3. LWC/5. LWC APPS/todo-app-with-lwc/flows/Send_Reminder_Notification_to_Users.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Changed_Loop_Variable_in_New_List</name>
        <label>Add Changed Loop Variable in New List</label>
        <locationX>330</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>TODO_NewList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TODO_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notification_Sent</name>
        <label>Assign Notification Sent</label>
        <locationX>169</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TODO_Item.NotificationSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Changed_Loop_Variable_in_New_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Send Reminder Notification to Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Reminder Notification to Users</label>
    <loops>
        <name>Loop_through_all_items</name>
        <label>Loop through all items</label>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>TODO_Item</assignNextValueToReference>
        <collectionReference>TODO_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Notification_Sent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Records_With_Notification_Sent_as_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Items_with_Reminder_Date_as_Today</name>
        <label>Get All Items with Reminder Date as Today</label>
        <locationX>198</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_items</targetReference>
        </connector>
        <filters>
            <field>ReminderDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ToDo__c</object>
        <outputReference>TODO_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NotificationSent__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Records_With_Notification_Sent_as_True</name>
        <label>Update All Records With Notification Sent as True</label>
        <locationX>480</locationX>
        <locationY>219</locationY>
        <inputReference>TODO_NewList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Items_with_Reminder_Date_as_Today</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TODO_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ToDo__c</objectType>
    </variables>
    <variables>
        <name>TODO_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ToDo__c</objectType>
    </variables>
    <variables>
        <name>TODO_NewList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ToDo__c</objectType>
    </variables>
</Flow>
